.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h2.white-flag-logo {
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 1rem;
  margin: 0;
  padding: 0;
}

.button-sets {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
  max-width: 1000px;
  height: 50px;
}

.button-sets .btn-action {
  margin: 0 10px;
  width: 100%;
  border-radius: 30px;
}

.geolocate-btn {
  position: absolute;
  z-index: 2;
  bottom: 3rem;
  left: 1rem;
  margin: 0;
  padding: 0;
  border-radius: 30px;
}

.autocomplete {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  z-index: 2;
}

.search {
  position: absolute;
  /* top: 1rem; */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  width: 100%;
}

.search .options {
  height: 40px;
}

.search ul {
  padding-inline-start: 0;
  margin: 2px;
}
